<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MqttBrokerAddress" value="..." />
		<add key="MqttBrokerPorn" value="..." />
		<add key="MqttBrokerUsername" value="..." />
		<add key="MqttBrokerPassword" value="..." />
	</appSettings>
</configuration>